
    <article>
      
            <button (click)="onDelete($event)" ><i class="glyphicon glyphicon-trash"></i></button>
            <button (click)="onMarkComplete($event)" ><i class="glyphicon glyphicon-star-empty"></i></button>
            <button class="form-inline" (click)="onEdit($event)" ><i class="glyphicon glyphicon-edit"></i></button>
      <br/>
            <h2>{{todo?.Title}}</h2>
            <p class="">{{todo?.Description}}</p>
            <p class="time">{{todo?.CreatedDate | date: 'MMM dd yyyy hh:mm'}}</p>
    </article>
