
    <article>
        <form action="#" class="form-inline" method="POST">
            <button type="submit">
            <i class="glyphicon glyphicon-trash"></i></button>
        </form>
        <form action="#" class="form-inline" method="POST">
            <input name="iscomplete" type="hidden" value="False">
            <button type="submit">
            <i class="glyphicon glyphicon-star-empty"></i></button>
        </form>
        <form class="form-inline"><a href="#">
            <i class="glyphicon glyphicon-edit"></i>
            </a>
        </form>
        <h2>{{Todo?.Title}}</h2>
        <p class="">{{Todo?.Description}}</p>
        <p class="time">{{Todo?.CreatedDate| date: 'MMM dd yyyy hh:mm tt'}}</p>
    </article>
